<!DOCTYPE html>
<html>
  <head>
    <title>AteamInternApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <a href="/posts" class="navbar-brand">TEST BBS</a>
      <button class="navbar-toggler" type="button"
        data-toggle="collapse"
        data-target="#navmenu"
        aria-controls="navmenu"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navmenu">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/posts">投稿一覧</a>
          <a class="nav-item nav-link" href="/posts/new">新規投稿</a>
          <a class="nav-item nav-link" href="/posts/bookmark">ブックマーク</a>
        </div>
      </div>
    </nav>

    <% if flash[:notice] == "edit_pass_auth_error" %>
      <div class="alert alert-warning mb-0" role="alert">
        編集用のパスワードが一致しませんでした。パスワードを忘れてしまった場合は<a href="">こちら</a>
      </div>
    <% elsif flash[:notice] == "create_post_success" %>
      <div class="alert alert-primary mb-0" role="alert">
        投稿が完了しました。
      </div>
    <% elsif flash[:notice] == "reply_success" %>
      <div class="alert alert-primary mb-0" role="alert">
        投稿に返信しました。
      </div>
    <% elsif flash[:notice] == "add_bookmark" %>
      <div class="alert alert-primary mb-0" role="alert">
        投稿をブックマークに追加しました。
      </div>
    <% end %>

    <div class="container pt-3">
      <%= yield %>
    </div>

    <a id="back-to-top" href="#" class="btn btn-dark back-to-top" role="button">
      TOP
    </a>
    <style>
      .back-to-top {
        position: fixed;bottom: 25px;right: 25px;display: none;
      }
    </style>
    <!-- 共通モーダル -->
  </body>
</html>